<!-- Create your form here -->
<h1>Student Form</h1>

<form action="post" method='/students'>

<label>First Name?</label>
<input id="first_name" name="first_name">

<label>Last Name?</label>
<input id="last_name" name="last_name">

<input id="Submit Student" type="submit" value="Submit Student">